.bannerWrapper {
    padding: 85px 95px;
    background-color: var(--color-dark-gray);
    margin-top: 160px;
}

@media screen and (max-width: 1439px) {
    .bannerWrapper {
        display: none;
    }
    .showOnSmallScreen {
        padding: 0;
        display: block;
    }
}

@media screen and (max-width: 1023px) {
    .showOnSmallScreen {
        display: none;
    }
}
