.container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    gap: 40px;
}

.title {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 32px;
    margin-top: 90px;
}
