.ourVideosWrapper {
    max-width: 1000px;

    padding-bottom: 90px;
}

.title {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 32px;
    margin-top: 90px;
}
