:root {
    --color-dark: #21222D;
    --color-dark-gray: #2C2C37;
    --color-gray: #747587;
    --color-error: #DE4154;
    --color-white: #FFFFFF;
    --color-green: #4B8261;
    --color-blue: #188BF5;
    
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;

    background-color: var(--color-dark);

    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
}

#root {
    width: 100%;
    height: 100%;
}

.swiper {
    padding-bottom: 90px;
}

.swiper-button-prev, .swiper-button-next {
    background-color: var(--color-dark-gray);
    width: 50px;
    height: 50px;
    border-radius: 50%;

    top: auto;
    bottom: 0;
    left: auto;
    right: 0;

    z-index: 20;
}

.swiper-button-prev {
    right: 66px;
}

.swiper-pagination {
    bottom: 15px !important;
}

.swiper-pagination-bullet {
    width: 6px;
    height: 5px;
    border-radius: 8px;
    border: 1px solid var(--color-gray);
    background-color: var(--color-dark);
}

.swiper-pagination-bullet-active {
    width: 24px;
    background-color: var(--color-gray);
}

.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 12px;
    color: var(--color-white);
}
