.container {
    border-radius: 15px;
    padding: 33px 29px 57px;
    background-color: var(--color-dark-gray);
    margin-bottom: 100px;
}

.send {
    width: 300px;
}

@media screen and (max-width: 743px) {
    .container {
        padding: 0;
        background-color: transparent;
        margin-bottom: 60px;
    }
}
